# Xcode
DerivedData/
*.xcuserdata/
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/

# Swift
.swiftpm/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# BrewSnap
brewsnap.json
*.json.bak
